DB__NAME=
DB__HOST=
DB__PORT=
DB__USER=
DB__PASSWORD=
DB__POOL_SIZE=
DB__MAX_OVERFLOW=
VPN_PANEL__AUTH_TOKEN=
VPN_PANEL__PANEL_URL=
VPN_PANEL__DOMAIN=
VPN_PANEL__PORT=
VPN_PANEL__SUBSCRIPTION_PREFIX=
VPN_PANEL__SUBSCRIPTION_PORT=
VPN_PANEL__SERVER_STATUS_COMMENT=
BOT__TOKEN=
BOT__PROXY=
BOT__NAME=
BOT__PAYMENT_TEST_MODE=
PAYMENTS__DAILY_PRICE=
CRYPTO__COINMARKETCAP_API_KEY=
CRYPTO__CURRENCIES_CMC_IDS_FOR_RATIO_UPDATE=
LOGS__FILE_ENABLED=
LOGS__FILENAME=
LOGS__LEVEL=
RMQ__HOST=
RMQ__PORT=
RMQ__USER=
RMQ__PASSWORD=
REFERRAL__CODE_LENGTH=
REFERRAL__REFERRED_BONUS=
REFERRAL__REFERRER_BONUS=
GAME__DAYS_REQUIRED=
GAME__REWARD=